<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LKWokanda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LKWokanda.Properties.Settings.cywilny" connectionString="Data Source=db2;Initial Catalog=cywilny;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LKWokanda.Properties.Settings.Karny" connectionString="Data Source=db2;Initial Catalog=karny;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.Rodzinny" connectionString="Data Source=db2;Initial Catalog=rodzinny;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.Pracy" connectionString="Data Source=db2;Initial Catalog=pracy;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.cywilnyII" connectionString="Data Source=db2;Initial Catalog=karny2;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.penitencjarny" connectionString="Data Source=db2;Initial Catalog=wpius;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.karnyII" connectionString="Data Source=db2;Initial Catalog=karny2;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.pracyII" connectionString="Data Source=db2;Initial Catalog=wpius2;Integrated Security=True" />
        <add name="LKWokanda.Properties.Settings.rodzinnyII" connectionString="Data Source=db2;Initial Catalog=rodzinny2;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <LKWokanda.Properties.Settings>
            <setting name="czycywilny" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="czypracy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="czykarny" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="czyrodzinny" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="plikXML" serializeAs="String">
                <value>iwokanda.xml</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftp" serializeAs="String">
                <value>nazwa.serwera.pl</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>uzytkownik_ftp</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>haslo_ftp</value>
            </setting>
            <setting name="send_ftp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftp_katalog" serializeAs="String">
                <value />
            </setting>
            <setting name="czy_cywilnyII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="czy_penitencjarny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="czy_karnyII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="czy_pracyII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="czy_rodzinnyII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="do_html" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="plikHTML" serializeAs="String">
                <value>iwokanda.html</value>
            </setting>
        </LKWokanda.Properties.Settings>
    </userSettings>
</configuration>
