<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="czy_cywilny" value="false"/>
    <add key="czy_karny" value="false"/>
    <add key="czy_rodzinny" value="false"/>
    <add key="czy_pracy" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="cywilny" connectionString="Data source=172.24.128.248;database=cywilny;User id=sa;Password=ZAQ!2wsx"/>
    <add name="karny" connectionString="Data source=172.24.128.248;database=karny;User id=sa;Password=ZAQ!2wsx"/>
    <add name="rodzinny" connectionString="Data source=172.24.128.248;database=rodzinny;User id=sa;Password=ZAQ!2wsx"/>
    <add name="pracy" connectionString="Data source=172.24.128.248;database=pracy;User id=sa;Password=ZAQ!2wsx"/>
  </connectionStrings>
</configuration>